#user-profile {
    header {
        img {
            border-radius: 50%;
        }
        
        h4 {
            font-size: 1.563rem;
            line-height: 2rem;
            font-weight: bold;
        }
    }
}