form.ribs-form {
    .form-section {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $form-section-border;

        &:last-child {
            border-bottom: none;
        }
    }
    
    .form-group {
        line-height: 1.5rem;
        min-height: 1.5rem;
        margin-bottom: .25rem;

        label {
            display: inline-block;
            font-weight: 400;
            margin-bottom: .3rem;
            color: #5a6169;
            cursor: pointer;
        }

        .form-control {
            display: block;
            width: 100%;
            height: auto;
            padding: .4375rem .75rem;
            font-size: .8125rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            border: 1px solid #e1e5eb;
            font-weight: 300;
            will-change: border-color,box-shadow;
            border-radius: .25rem;
            box-shadow: none;
            transition: box-shadow 250ms cubic-bezier(.27,.01,.38,1.06),border 250ms cubic-bezier(.27,.01,.38,1.06);

            &:hover {
                border-color: #b3bdcc;
            }

            &:focus {
                color: #495057;
                background-color: #ffffff;
                border-color: #007bff;
                box-shadow: 0 0.313rem 0.719rem rgba(0, 123, 255, .1), 0 0.156rem 0.125rem rgba(0, 0, 0, .06);
            }

            &.is-valid {
                border-color: #17c671;
                box-shadow: 0 5px 11.5px rgba(23,198,113,.1);

                + div {
                    color: #17c671;
                }
            }

            &.is-invalid {
                border-color: #c4183c;
                box-shadow: 0 5px 11.5px rgba(196,24,60,.1);

                + div {
                    color: #c4183c;
                }
            }

            + div:not(.input-append) {
                margin-top: .25rem;
                font-size: 80%;
            }
        }
    }

    .input-group {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;

        .input-prepend, .input-append {
            display: flex;
            font-size: .8125rem;
            font-weight: 300;
            line-height: 1.5;
            color: #abb6bf;
            background-color: #fff;
            border: 1px solid #e1e5eb;
            align-items: center;
            padding: .375rem .75rem;
            text-align: center;
            white-space: nowrap;
            margin-top: 0;

            .ribs-button {
                border: none;
                margin-right: 0;

                &:hover {
                    box-shadow: 0 0.125rem 0.625rem rgba(129, 142, 163, .2), 0 0.0625rem 0.125rem rgba(129, 142, 163, .3);
                }
            }
        }

        .input-prepend {
            margin-right: -1px;
            border-radius: .25rem 0 0 .25rem;
        }

        .input-append {
            margin-left: -1px;
            border-radius: 0 .25rem .25rem 0;
        }

        .form-control {
            width: auto;
            flex: 1 1 auto;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}