header {
    height: 3.75rem;
    box-shadow: 0 0.125rem 0.625rem $header-box-shadow;
    background: $header-background;
    position: sticky;
    
    form {
        width: 80%;
        float: left;
        line-height: 3.75rem;
        
        input {
            height: auto;
            padding: .4375rem .75rem;
            font-size: .8125rem;
            line-height: 3.5;
            color: $header-input-color;
            font-weight: 300;
            border: 0;
            box-shadow: none;
            width: 98%;
        }
    }
    
    ul {
        float: right;
        width: 20%;
        line-height: 2.45rem;
        
        li {
            display: inline-block;
            border-left: 1px solid $header-border-link;
            padding:  0.6667rem;
            
            &#notif {
                width: 60px;
            }
            
            &#profile {
            
            }
        }
    }
}