nav#left-nav {
    width: 300px;
    height: 100vh;
    position: fixed;
    background: $left-nav-background;

    .title {
        height: 3.75rem;
        font-size: 1rem;
        line-height: 3.75rem;
        text-align: center;
        background-color: $left-nav-title-background;
        color: $left-nav-title-color;
        font-family: $sec-font;
        border-bottom: 1px solid $left-nav-border-link;
    }

    ul {
        li {
            font-size: .875rem;
            font-family: $main-font;
            overflow: hidden;

            a {
                border-bottom: 1px solid $left-nav-border-link;
                color: $left-nav-link-color;
                padding: .9375rem 1.5625rem;
                font-weight: 400;
                display: block;
                width: 100%;
                transition: box-shadow .2s ease,color .2s ease,background-color .2s ease;

                &:hover {
                    box-shadow: inset 0.1875rem 0 0 $left-nav-link-color-hover;
                    background-color: $left-nav-title-background-hover;
                    color: $left-nav-link-color-hover;
                }

                i {
                    min-width: 1.25rem;
                    font-size: 90%;
                    text-align: center;
                    vertical-align: middle;
                    color: $left-nav-icon-color;
                    margin-right: .375rem;
                }
            }
        }
    }
}