main {
    .subtitle {
        letter-spacing: .125rem;
        color: $main-page-subtitle-color;
        font-size: .925rem;
        text-transform: uppercase;
        display: block;
    }
    
    .page-title {
        font-size: 1.625rem;
        font-weight: 500;
        line-height: 1;
        margin: 0;
        padding: 0;
        color: $main-page-title-color;
    }
}