$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~ribs-checkbox/source/scss/style";
@import "~ribs-reset-css";
@import "~ribs-grid";
@import "variables";
@import "left-nav";
@import "header";
@import "main";
@import "form";

@import "components/buttons";
@import "components/spacement";

body {
    font-size: 15px;
    font-family: $main-font;
    background: $body-background;
}

main {
    margin-top: 20px;
    margin-left: 300px;
}

h1 {
    margin: 0;
}