/* ------ FONT FAMILIES ------ */
@font-face {
    font-family: lobster;
    src: url(../fonts/lobster.ttf);
}

@font-face {
    font-family: noto-sans;
    src: url(../fonts/noto-sans.ttf);
}


/* ------ GLOBAL ------*/
$main-font: noto-sans;
$sec-font: lobster;
$body-background: #f5f6f8;
$body-color: #5a6169;


/* ------ LEFT NAV ------*/
$left-nav-background: #ffffff;
$left-nav-box-shadow: rgba(90,97,105,.1);
$left-nav-box-shadow1: rgba(90,97,105,.12);
$left-nav-box-shadow2: rgba(165,182,201,.1);
$left-nav-title-background: #39bde6;
$left-nav-title-background-hover: #fbfbfb;
$left-nav-title-color: #2581a7;
$left-nav-border-link: #e1e5eb;
$left-nav-link-color: #3d5170;
$left-nav-link-color-hover: #007bff;
$left-nav-icon-color: #cacedb;


/* ------ HEADER------*/
$header-background: #ffffff;
$header-box-shadow: rgba(90,97,105,.12);
$header-border-link: #e1e5eb;
$header-input-color: #abb6bf;
$header-color: #495057;
$header-notification-icon-color: #c3c7cc;


/* ------ LOADER------*/
$loader-background: rgba(255, 255, 255, 0.6);
$loader-spinner-background: #007bff;


/* ------ MAIN------*/
$main-page-title-color: #3d5170;
$main-page-subtitle-color: #818ea3;

/* -- block --*/
$main-block-background: #ffffff;
$main-block-shadow: rgba(90,97,105,.11);
$main-block-shadow1: rgba(90,97,105,.12);
$main-block-shadow2: rgba(90,97,105,.06);
$main-block-shadow3: rgba(90,97,105,.1);
$main-block-header-border: #e1e5eb;
$main-block-header-title-color: #3d5170;
$main-block-h6-color: #868e96;


/* ------ FORM------*/
$form-section-border: rgba(0,0,0,.125);
$form-group-label-color: #5a6169;
$form-group-input-background: #ffffff;
$form-group-input-border: #e1e5eb;
$form-group-input-border-hover: #e1e5eb;
$form-group-input-shadow-hover: rgba(0, 123, 255, .1);

/* standard input */
$form-group-input-shadow-hover1: rgba(0, 0, 0, .06);
$form-group-input-color: #495057;
$form-group-input-focus-color: #495057;
$form-group-input-focus-background: #ffffff;
$form-group-input-focus-border: #007bff;

/* valid input */
$form-group-input-valid-shadow: rgba(23,198,113,.1);
$form-group-input-valid-border: #17c671;
$form-group-input-valid-div-color: #17c671;

/* invalid input */
$form-group-input-invalid-shadow: rgba(196,24,60,.1);
$form-group-input-invalid-border: #c4183c;
$form-group-input-invalid-div-color: #c4183c;

/* prepend and append input */
$form-group-input-group-color:  #abb6bf;
$form-group-input-group-background: #ffffff;
$form-group-input-group-border: #e1e5eb;
$form-group-input-group-button-shadow: rgba(129, 142, 163, .2);
$form-group-input-group-button-shadow1: rgba(129, 142, 163, .3);