header.main {
    height: 3.5rem;
    width: 100%;
    box-shadow: 0 0.125rem 0.625rem $header-box-shadow-mobile;
    background: $header-background;
    color: $header-color;
    position: fixed;
    top: 0;
    z-index: 3;
    
    h1 {
        text-align: center;
        font-size: 2rem;
        line-height: 3.5rem;
    }
    
    nav, ul {
        height: 100%;
    }
}